/* General Styles */
body {
  color: rgb(10, 10, 10);
  background-color: rgb(243, 242, 242);
}

/* Image Wrap Styles */
.image-wrap {
  background-image: url(cheff.svg);
  background-repeat: no-repeat;
  background-size: 20% 110%;
}

/* Title Section Styles */
#title-section {
  text-align: center;
}

#title {
  font-family: 'Times New Roman', Times, serif;
  color: #4a9121;
  font-size: 50px;
}

/* Search Section Styles */
#search {
  margin-top: 100px;
  text-align: center;
}

/* Search Box Styles */
.search-box {
  position: relative;
  display: inline-block;
}

/* Button Styles */
button {
  background-color: #4CAF50;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  color: rgb(242, 255, 245);
  background-color: #68d87b;
}

/* Category Links Styles */
#categoryLinks {
  font-size: 1.2em;
  text-align: center;
  margin-top: 2.50em;
}

#categoryLinks a {
  margin: 5px;
  color: green;
  text-decoration: none;
}

#categoryLinks a:hover {
  color: black;
}

/* Input Styles */
input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #6de7c9;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

/* Navigation Styles */
#nav a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

#nav a:hover {
  color: #4a9121;
}

/* Recipe Cards Styles */
.recipe-cards {
  display: flex;
  align-items: center;
  border: 5px solid rgb(2, 2, 2);
  margin: 10px;
}

.recipe-info {
  padding-left: 40px;
}

.recipe-info.img {
  padding-left: 10px;
}
